/* Imports */
@import "partials/dropdownandsearch";
@import "partials/colors";
@import "partials/books";
@import "partials/breakpoints";


/* Header */
header {
    text-align: center;
    overflow: hidden;
    z-index: 3;
}

.header-container {
    padding: 10px 20px;
    background: $headercolor;
    height: 65px;
    width: 100%;
    top: 0;
    margin-bottom: 0;
    position: fixed;
    z-index: 5;

    .logo {
        margin: 0 auto;
        float: left;
        width: 110px;
        img {
            height: 45px;
        }
    }
    nav {
        display: inline-block;
        text-align: center;
        font-size: 15px;
        margin-top: 11px;
        ul {
            margin: 0 auto;
            padding: 0;
            li {
                display: inline-block;
                padding: 0 26px;

                a {
                    color: $lightgreen;
                    text-decoration: none;
                }

                a:hover {
                    border-bottom: 3px solid $lightgreen;
                    padding-bottom: 5px;
                }
            }
        }
    }

    .search {
        float: right;
        text-align: right;
        width: 110px;
        margin-top: 7px;

        .fa-bars {
            color: $lightgreen;
            font-size: 25px;
            position: relative;
            top: 4px;
        }

        input {
            outline: none;
        }

        input[type=search] {
            box-sizing: content-box;

        }

        input[type=search] {
            background: url("../images/search.png") no-repeat center;
            background-size: contain;
            background-position: 7px 0px;
            border: none;
            padding: 3px 10px 3px 32px;
            width: 100px;
            border-radius: 10em;
            transition: all .5s;
        }

        #search {
            float: right;
        }

        #search input[type=search] {
            width: 15px;
            padding-left: 10px;
            color: transparent;
            cursor: pointer;
        }

        #search input[type=search]:focus {
            padding-left: 40px;
            color: $darkgreen;
            background-color: #fff;
            width: 100px;
            box-shadow: 0px 1px 2px #e0e0e0;
        }
    }
}
/* Hero */
.hero {
    img {
        width: 100%;
        position: fixed;
        top: 65px;
        z-index: -1;
    }

    h1 {
        text-align: center;
        font-size: 190px;
        color: white;
        padding-top: 20%;
        margin-top: 0;
        position: relative;
        top: 50px;
    }
}
/* Main */
main {
    clear: both;
    width: 100%;
    background-color: white;
    margin-top: 0;
}


.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    a {
      padding: 0px;
    }
}
/* Footer */
footer {
    background-color: $footer;
    overflow: hidden;

    ul {
        padding: 0;
        display: inline-block;
        margin-right: 10px;
    }

    li {
        display: block;
        margin: 6px;

        a {
            color: $footertext;
            font-size: 12px;
        }
    }

    .logo-footer {
        overflow: hidden;
        text-align: right;
        display: inline-block;
        float: right;
        padding-top: 70px;
    }

    img {
        height: 45px;
    }

    p {
        color: $footertext;
        margin-bottom: 0;
        font-size: 11px;
    }
}

/* Break points at bottom so that they override code above */

@import "partials/breakpoints";
