/* Imports */

@import "partials/filters";
@import "partials/variablesandclasses";
@import "partials/books";
@import "partials/media-queries";

/* Header */

header {
  text-align: center;
  overflow: hidden;
  z-index: 3;
}
.header-container {
  padding: 10px 20px;
  background: #ebebeb;
  overflow: hidden;
  width: 100%;
  top:0px;
  margin-bottom: 0px;
  position: fixed;
    z-index: 5;
  .logo{
      margin: 0 auto;
      float: left;
      width: 100px;
      text-align: left;
      img {
        height:45px;
      }
    }
  nav {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    margin-top: 11px;

    ul {
      margin: 0 auto;
      padding: 0px;
      li {
        display: inline-block;
        padding: 0px 20px;
        a {
          color: #23747c;
          text-decoration: none;
          }
          a:hover{
            border-bottom: 3px solid $lightgreen;
            padding-bottom: 5px;
          }
         }
        }
       }
.search {
  float: right;
  text-align: right;
  width: 100px;
  margin-top: 10px;
  img {
    height: 27px;

  }
 }
}

/* Hero */


.hero {
 img {
   width: 100%;
   position: fixed;
   top: 65px;
   z-index: -1;

 }
  h1 {
      text-align: center;
      font-size: 190px;
      color: white;
      padding-top: 20%;
      margin-top: 0px;
      position: relative;
      top: 50px;

    }
  }

/* Main */

main {
  clear:both;
  width: 100%;
  background-color: white;
  margin-top: 0px;
 }

 .flex-box {
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 10px;
 }

/* Footer */

 footer {
   background-color: $footer;
   overflow: hidden;
   ul{
     padding: 0px;
     display: inline-block;
     margin-right: 10px;
     }
   li {
     display: block;
     margin: 6px;
     a {
       color: $footertext;
       font-size: 12px;
       }
     }
  .logo-footer {
    overflow: hidden;
    text-align: right;
    display: inline-block;
    float: right;
    padding-top: 70px;
    }
   img {
     height: 45px;
     }
   p {
    color: $footertext;
    margin-bottom: 0px;
    font-size: 11px;
   }
 }


@media  (max-width: 766px){
.header-container {
  nav {
    display: none;
  }
}
.hero {
  h1{
    font-size: 65px;
    padding-top: 26%;
    top: 24px;
  }
}
.container {
  padding: 25px 20px;

}
}

@media  (min-width: 767px) {
.hero {
  h1{
    font-size: 120px;
    padding-top: 26%;
    top: 35px;
    }
  }
  .container {
    padding: 25px 50px;}
}

@media  (min-width: 1024px) {
  .hero {
    h1{
      font-size: 190px;
      padding-top: 20%;
      top: 50px;
      }
    }
    .container {
      padding: 25px 100px;}
  }
