.book-display {
  width: 240px;
  margin: 20px 5px;
  text-align: left;
  transition: size 1s;

  .image-holder {
    height: 300px;
    width: 100%;
    overflow: hidden;

  }
  img {
    height: 400px;
  }
 h3 {
   font-size: 13px;
   color: $darkgreen;
   margin-top: 5px;
   margin-bottom: 5px;
 }
 h4 {
   font-size: 13px;
   color: $lightgreen;
    margin-top: 5px;
    margin-bottom: 5px;

 }

}

.image-holder:hover{


}

// stars //

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 10px;

}
.stars {
  display: flex;
  flex-flow: reverse;
}
span {
  padding: 3px;
  font-size: 15px;
  color: #F8D64E;
    align-items: flex-start;
}
