@media (max-width: 766px) {
    .header-container {
        nav {
            display: none;
        }

        #search {
            display: none;
        }
    }

    .hero {
        h1 {
            font-size: 65px;
            padding-top: 26%;
            top: 29px;
        }
    }

    .container {
        padding: 25px 20px;
    }
}
@media (min-width: 767px) and (max-width: 1023px){
  .header-container {
      nav {
font-size: 14px;
        ul {

          li{
            padding: 0px 7px;
          }
        }}}
    .hamburger {
        display: none;
    }

    .hero {
        h1 {
            font-size: 120px;
            padding-top: 25%;
            top: 38px;
        }
    }

    .container {
        padding: 25px 50px;
    }

}
@media (min-width: 1024px) {
  .hamburger {
      display: none;
  }
    .hero {
        h1 {
            font-size: 190px;
            padding-top: 20%;
            top: 50px;
        }
    }

    .container {
        padding: 25px 100px;
    }
}
