$darkgreen: #003d3d;
$offwhite: #FEFFFE;
$stargold: #F8D64E;
$footer: #A9ADB1;
$footertext: #878C92;
$selectedcolor: #FCF8F8;
$listborder: rbga(101, 171, 194, .7);
$headercolor: #434B54;
$darktext: #154B68;
$midtext: #65ABC2;


.container {
  padding: 25px 100px;
  margin: 0px;
  width: 100%;

}
