@import "colors";

/* Header */
.hamburger {
    position: relative;

    ul {
        list-style: none;
        padding: 10px 20px;
        margin: 0;
        position: absolute;
        right: 0;
        z-index: 6;
        background-color: $headercolor;
        text-align: center;
        font-size: 16px;
        border-radius: 5px;
        display: none;

        .form-control {
            text-align: center;
        }

        li {
            padding: 20px;
            border-bottom: 1px solid $listborder;

            a {
                color: $offwhite;
                width: 100%;
                padding: 0 20px;
            }

            a:hover {
                text-decoration: none;
                border-bottom: 3px solid $offwhite;
                padding-bottom: 21px;
            }
        }
    }
}

.hamburger:focus ul,
.hamburger:hover ul {
    display: block;
}

/* Main */

main {

    .filters {
        margin-top: 20px;

    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            background-color:  white;
            display: block;
            padding: 5px 15px;
            text-decoration: none;
            color: $headercolor;
            text-decoration: none;
            transition: background-color 0.1s;
        }

        a:hover {
            background-color: $selectedcolor;
            color: $headercolor;
            text-decoration: none;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        float: left;
        display: inline-block;
        background-color: white;
        text-align: center;

        .form {
            input {
                border-radius: 30px;
                text-align: center;
                width: 70%;
                margin: 0 auto;
                border-radius: 30px;
                text-align: center;
            }
        }

        .add {
            background-color: $darktext;
            width: 45%;
            color: white;
            border: 1px solid $darktext;
            margin: 10px auto 20px;
            transition: background-color 0.5s;
            text-decoration: none;
        }

        .add:hover {
            background-color: white;
            color: $darktext;
            border: 1px solid $darktext;
        }
    }

    .dropdown {
        position: relative;
        width: 260px;
        min-width: 170px;
        text-align: center;
        border: 1px solid $darktext;
        margin: 10px 5px;
    }

    .bookshelves {
        z-index: 4;
    }

    .drop-nav {
        position: absolute;
        display: none;
        border: 1px solid $darktext;
        width: 260px;
        left: -1px;
    }

    .drop-nav li {
        width: 100%;
        margin: 0;
        border-bottom: 0.5px solid $listborder;
    }

    .dropdown:focus .drop-nav,
    .dropdown:hover .drop-nav {
        display: block;
    }
}

.search-field {
    margin: 10px;
    border-radius: 30px;
    float: right;
    color: $darktext;
    border: 1px solid $headercolor;
    height: 32px;
    width: 260px;
    display: inline;
    padding: 5px 40px;
    text-align: center;
    background: white url("../images/search.png") no-repeat 10px center;
    background-size: contain;
    padding: 10px 10px 10px 32px;
    align-self: flex-end;

    input {
        border-radius: 30px;
    }
}

.search-field:focus {
    outline: none;
}
