.book-display {
  width: 260px;
  margin: 20px 5px;
  text-align: left;


  .image-holder {
    height: 300px;
    width: 100%;
    overflow: hidden
  }
  img {
    height: 400px;
  }
 h3 {
   font-size: 13px;
   color: $darkgreen;
   margin-top: 5px;
   margin-bottom: 5px;
 }
 h4 {
   font-size: 13px;
   color: $lightgreen;
    margin-top: 5px;
    margin-bottom: 5px;

 }
 i {
   color: $stargold;
 }
}
