@import "variablesandclasses";



main {
.filters {
  margin-top: 20px;

 }

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

  }

 li {
   float: left;
   display: inline-block;
   background-color: white;
   text-align: center;
   .form {
     input {
       border-radius: 30px;
       text-align: center;
       width: 70%;
       margin: 0 auto;
       border-radius: 30px;
       text-align: center;
       }
      }
   .add {
     background-color: $darkgreen;
     width: 45%;
     color: white;
     border: 1px solid $darkgreen;
     margin: 10px auto 20px auto;
     transition: background-color .5s;
     text-decoration: none;
     }
   .add:hover {
     background-color: white;
     color: $darkgreen;
     border: 1px solid $darkgreen;
    }
   }

.dropdown {
     position: relative;
     width: 24%;
     text-align: center;
     border: 1px solid $darkgreen;
    }
.sort {
     margin-left: 15px;
    }

.drop-nav {
     position: absolute;
     display: none;
     border: 1px solid $darkgreen;
    }
.drop-nav li {
      width: 100%;
      margin: 0;
      border-bottom: .5px solid $listborder;
    }
    .dropdown:hover .drop-nav {
      display: block;
    }
a {
    background-color: white;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: $darkgreen;
    text-decoration: none;
   }
 a:hover {
  background-color: $selectedcolor;
 }


.navigation {
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
  }
}


.search-field {
  border-radius: 30px;
  float: right;
  color: $darkgreen;
  border:1px solid $lightgreen;
  height: 30px;
  width: 20%;
  background-color: white;
  display: inline;
  padding: 5px 40px;
  text-align: center;
  background: white url(../images/search.png) no-repeat 10px center;
  background-size: contain;
  input {
    border-radius: 30px;}

}
