.book-display {

  height: 275px;
  width: 25%;
  border: 1px solid white;
  margin-top: 20px;
  text-align: left;
  img {
    height: 210px;
  }
 h3 {
   font-size: 13px;
   color: $darkgreen;
   margin-top: 5px;
   margin-bottom: 5px;
 }
 h4 {
   font-size: 13px;
   color: $lightgreen;
    margin-top: 5px;
    margin-bottom: 5px;

 }
 i {
   color: $stargold;
 }
}
