@import "mixins";

button {
  color: $darkgreen;
  border: 1px solid $darkgreen;
  height: 30px;
  width: 49%;
  background-color: white;
  display: inline;
  }

.right{
  float: right;
}
.left {
  float: left;
}
.search-field {
  border-radius: 30px;
  float: right;
  color: $darkgreen;
  border:1px solid $darkgreen;
  height: 30px;
  width: 20%;
  background-color: white;
  display: inline;
  padding-left: 10px;
  text-align: left;

  a{
    color: $darkgreen;
    text-decoration: none;
}
}
